h1 {
    color: white;
    background-color: #AF2125;
    align-self: start;
    width: fit-content;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
    border-left-color: #004182;
    border-left-style: solid;
    border-left-width: 30px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
}

h2 {
    background-color: #004182;
    align-self: start;
    color: white;
    width: fit-content;
    font-size: x-large;
    border-left-color: #AF2125;
    border-left-style: solid;
    border-left-width: 20px;
    padding: 5px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2);
}

h3 {
    background-color: #004182;
    align-self: start;
    width: fit-content;
    color: white;
    font-size: x-large;
    border-left-color: #AF2125;
    border-left-style: solid;
    border-left-width: 10px;
    z-index: 1;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2);
}

b {
    color: #AF2125;
    font-size: large;
    text-align: center;
}

p.content {
    width: fit-content;
    font-size: x-large;
    background-color: antiquewhite;
    border: 1px solid #AF2125;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a.lnk:link {
    color: blue;
    text-decoration: none;
    font-size: large;
}

a.lnk:visited {
    color: purple;
    text-decoration: none;
    font-size: large;
}

a.lnk:hover {
    color: royalblue;
    text-decoration: underline;
    text-shadow: 0 0 1px black;
    font-size: x-large;
}

a.lnk:active {
    color: brown;
    text-decoration: underline;
    text-shadow: 0 0 2px black;
    font-size: large;
}


/* 未使用的样式表*/

a.top:link,
a.top:visited {
    background-color: rgb(136, 150, 163);
    width: fit-content;
    color: white;
    text-decoration: none;
    z-index: 0;
}

a.top:hover {
    background-color: slategrey;
    color: white;
    text-decoration: none;
}

a.top:active {
    background-color: black;
    color: white;
    text-decoration: none;
}

button.menu_button {
    background-color: rgb(136, 150, 163);
    right: 25px;
    font-size: xx-large;
    border: none;
    width: 200px;
    position: fixed;
    cursor: pointer;
    top: 25px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

div.menu {
    position: fixed;
    display: inline-block;
    right: 25px;
    top: 65px;
    width: 200px;
    z-index: 1;
}

div.menu_content {
    display: none;
    position: relative;
    background-color: slategrey;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

div.menu_content a {
    display: block;
    position: relative;
    background-color: dim rgb(136, 150, 163);
    text-decoration: none;
    z-index: 1;
}

div.menu:hover .menu_button {
    background-color: black;
    color: blanchedalmond;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

div.menu:hover .menu_content {
    display: block;
    z-index: 1;
}

div.img {
    margin: 3px;
    border: 2px solid #AF2125;
    float: left;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.3);
    height: 520px;
    z-index: -1;
}

.map {
    position: relative;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.img:hover,
.img:active {
    border: 2px solid #004182;
    box-shadow: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.desc {
    background-color: grey;
    color: white;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2);
    font-size: inherit;
    text-align: center;
    float: inline-start;
    margin: 0px;
    text-decoration: none;
    z-index: -1;
}

table,
th,
td {
    border: 2px solid black;
    width: fit-content;
    margin-right: 150px;
    font-size: x-large;
}

th {
    background-color: #004182;
    color: white;
    text-align: center;
}

td {
    width: fit-content;
}